h1{
    color: white;
    font-size: 180%;
}

h2{
    color: white;
}

table{
    outline-width: 3px;
    table-layout: fixed; /* Фиксированная ширина ячеек */
    width: 100%; /* Ширина таблицы */
    border-collapse: collapse; /* Убираем двойные линии между ячейками */
}


th {
    background: #ffffff; /* Цвет фона */
    text-align: center;
    font-size: 130%;
}

td{
    color: #ffffff;
}

.faculty_color{
    color: #ffffff;
    font-size: 80%;
}

.border_table{
    outline-width: 2px;
    border: 3px solid black;
    border-collapse: collapse;
    text-align: center;
}

.border_cell{
    text-align: right!important;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
}


tr{
    font-size: 120%;
    color: #000000;
}


.border {
    text-align: right!important;
    border-top: 1px solid white;

}



.border_edit {
    text-align: right!important;
    border-top: 0px solid white;

}


.bg-dark {
    background-color: #516ba9;
}

.text-center{
    text-align: center;
}

a{
    text-decoration: none;
    color: midnightblue;
}

.block{
    display:inline-block;
}

.bg-display {
    background-color: #516ba9;
}

.part_on{
    font-size: 150%;
    color: #ffffff;
}

.part_off{
    font-size: 150%;
    color: lightslategrey;
}


.part_td{
    font-size: 120%;
    color: #ffffff;
}

.new_size{
    font-size: 130%;
}

.right_text{
    float: right;
    color: #ffffff;
    font-size: 60%;
}

.text_size_button{
    font-size: 100%;
}

hr{
    background: #ffffff;
}